@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
:root {
    --text-color: rgb(255, 255, 255);
    --primcolor: rgb(12, 12, 90);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}



.home-back {
    height: 100vh;

    background-image: url(./assets/1.jpeg);
    background-size: cover;
    background-attachment: fixed;

    background-color: rgb(255, 255, 255);
}

/* ------------------------Header Start----------------- */
.heading {
    overflow: hidden;
    height: 100px;
    width: 100vw;
    display: flex;
    padding: 10px 100px;
    align-content: center;
    justify-content: center;
    text-align: center;
    top: 0;
    background-color: white;
    position: fixed;
    box-shadow: 0px 0px 30px #aaaaaaa1;
}



.logo img {
    height: 100%;
    margin-right: 50px;

}

._search {


    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2em;
}

._search input {

    border: 1px solid grey;
    border-radius: 20px;
    height: 20px;
    width: 300px;
    padding: 15px 23px 15px 30px;
    outline: 0;


}

.navi {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.prim-nav li {

    list-style-type: none;
    display: inline;

}

.prim-nav li a {
    margin-top: 0.45em;
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

.prim-nav li a:hover {
    background-color: rgba(53, 53, 53, 0.342);
}

.prim-nav li a:active {
    background-color: rgba(13, 14, 82, 0.548);
    color: white;

}

.regnav li {
    list-style-type: none;

}

.regnav li a {

    background-color: rgb(32, 51, 136);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--text-color);
    text-align: center;
}

.regnav {
    margin: 1em;
    align-items: center;
}

.regnav li a:hover {
    background-color: rgb(12, 12, 90);
    color: rgb(255, 255, 255);

}

.regnav li a:active {
    background-color: rgb(215, 215, 219);
    color: rgb(32, 51, 136);

}

/* -----------Header End-------------- */
.container {
    height: 100vh;
    background-color: rgba(2, 2, 2, 0.349);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.po {
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.315);
    padding: 30px;
}

.subhead {
    margin: 10px auto 30px auto;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 14pt;
    font-weight: lighter;
}

.bigtext h1 {
    color: white;
    font-size: 5em;
    text-align: center;

}

.book {
    margin-top: 20px;
    text-align: center;
}

.bookbut {
    color: white;
    padding: 10px 30px;
    border: white solid 1pt;
    border-radius: 20px;

}


.bookbut:hover {
    background-color: white;
    color: grey;
}

.pics {
    height: 500px;
    display: flex;

}

.pic {
    background-color: rgba(233, 233, 233, 0.712);

    justify-content: center;
    width: 320px;
    height: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    /* padding: 20px 15px; */

}

.pic:hover {
    background-color: rgba(255, 255, 255, 0.904);
    box-shadow: 0px 0px 30px #807f7f8a;
}

.pic h3 {
    margin: 20px 10px;
    color: #192538;
    text-align: center;

}

.pic p {
    color: #181717;
    line-height: 20px;
    text-align: center;
    margin: 0px 30px ;
    padding: 0px 10px;
font-size: 10pt;
}

.imga {
    display: block;
    margin: auto;
    height: 200px;
    width: 320px;

}

.explore {
    margin: 20px auto;
    text-align: center;
}

.explore a {
    font-family: helvetica;
    font-weight: lighter;

    display: inline-block;

    padding: 10px 20px;
    text-align: center;

    color: rgb(0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.507);
    border-radius: 20px;

}

.explore a:hover {
    background-color: rgba(72, 72, 75, 0.548);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(93, 93, 94, 0.507);
    border-radius: 20px;
}

.linebar {
    display: flex;
    background-color: rgb(17, 27, 71);
    width: 101vw;
    margin: 0 -30px;
    padding: 40px;
    
    
}

.linebar h1 {
    color: white;
    font-size: 50pt;

    margin: 20px 10px 20px 90px;
}
.linebar h1 span {
    
    font-size: 20pt;
font-weight: lighter;
    
}
.findhotel{
    margin: auto;
}
.findhotel a{
    border: solid 1pt white;
    color: white;
    padding: 20px 60px;
font-size: 25px;
border-radius: 5px;
}
.findhotel a:hover{
    background-color: white;
    color:  rgb(17, 27, 71);
}
.credit_plugs {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding: 30px 10%;
}

.credits {
    font-family: "Roboto Mono";
    margin-right: auto;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 15px;
    color: rgb(104, 104, 104);
}

.plugs a {
    margin: 0;
    padding-right: 10px;
}

.fa {
    padding: 30px;
    font-size: 30px !important;
    width: 75px;
text-align: center;
    text-decoration: none;
    margin: 5px 5px;
  }

  .fa-facebook {
    
    color: rgb(82, 82, 82);
  }
  
  .fa-twitter {
    
    color: rgb(82, 82, 82);
  }

  .fa-youtube {
    
    color: rgb(82, 82, 82);
  }
  
  .fa-instagram {
    
    color: rgb(82, 82, 82);
  }
  .creditsa{
      background-color: rgb(245, 245, 245);
  }
  .asd{
      justify-content: center;
      display: flex;
      padding-top: 30px;
      padding-bottom: 50px;
      
  }
  .as{
      width: 60vw;
  }
  .asd img{
      margin: 0px 30px 0px 200px;
      height: 200px;
      width: 200px;
  }



/* ---Sign Up page------ */
.regis {
    height: 120vh;
    width: 100vw;
   padding-left:10%; 
   padding-right: 5%;
   padding-top: 4%;


    justify-content: center;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.regibox {
    align-self: center;
    width: 45%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 0px 0px 30px #aaaaaa8a;
}
.regibox label{
    color:rgb(48, 46, 46);
    font-size: 14px;
    margin-right: 10px;
    cursor:default;
    }

.Name {
     display: flex;
}
.Name #fname, #lname{
    width: 100%;
}
.Fname{
    width: 55%;
    margin-right: 20px;
}
.Lname{
    width: 45%;
}
    .imgregi{
        margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 80px;
    width:60%;
    /* background-color: blue; */
    
}
.imgregi img{
    margin-top: 50px;
    margin-bottom: -10%;
        width:100%;
    
}
.regibox div {
    margin-top: 10px;
    
    line-height: 25px;
}
.regibox input[type=text], input[type=password], input[type=date]{
    border-radius:15px;
    border-style: solid;
    border-color: rgb(167, 167, 167);
    border-width: 1pt;
    padding: 5px 10px;
}
.longinp{
    width: 100%;
    max-width: 400px;
}
.agree{
    font-size: 13px;
    
}
.agree a{
    text-decoration: underline;
}
input[type=submit]{
    border-width: 1pt;
    border-style: solid;
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--primcolor);
    color: var(--text-color);
    margin-top: 10px;
}
/* -------Sign Up End----------- */
/* ----------Tickets------------ */
.ticketvert{
    padding-bottom: 110px;
    display: block;
    background-color: rgba(252, 252, 252, 0.918);
    border-radius: 20px;
    padding-top: 50px;

}
.tickethoriz{
    box-shadow: 30px;
    display: flex;
    justify-content: center;
padding-top: 30px;
padding-bottom: 30px;

}

.tickhead{
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
}
.tickhead h1{
color: #263a58;
font-size: 60pt;
    text-align: center;
}
.tick1{
    height: 350px;
    width:250px;

    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding: 30px 40px;
    box-shadow: 0px 0px 30px #aaaaaaa1;
margin: 10px 30px;
}
.backgr{
    width: 100vw;
    height: 240vh;
    background-image: url(./assets/9.jpg);
    background-attachment: fixed;
    padding: 200px 10% 100px 10%;

}
.tick1 img{
    height: 100px;
    width: 100%;
}
.features{
    margin: 15px auto 30px 50px;
    font-size: 9pt;
color: grey;
text-align: left;
}
.tick1 hr{
    margin-top: 20px;
}
.tick1 a{
    background-color: var(--primcolor);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 20px;
    
}
.a4{
    margin-bottom: -10px;
}
.cover {
    background-image: url(./assets/10.jfif);
    width: 98.7vw;
    height: 400px;
    margin-top: 100px ;
    background-position: center;
background-size: cover;
background-attachment: fixed;
}
.abouth{
margin: 40px 25% 80px 25%;
}
.abouth h1{
    font-size: 50pt;
text-align: left;

color: #263a58;
}
.abouth p{
    font-size: 16pt;
    line-height: 30pt;
   
}
.abouth h4{
    font-weight: normal;
}
.abouth h2{
    line-height: 40pt;
}
.abouth hr{
    margin-top: 20px;
    margin-bottom: 40px;
}

.back1{
    width: 100vw;
    height: auto;
    background-color: rgba(255, 255, 255, 0.911);
    padding-top: 150px;
}
.place-cont{
   
    margin: 0px 10%;
    padding: 30px 30px;
}
.place-cont h1{
    text-align: center;
    margin-bottom: 20px;
color: #263a58;
font-size: 30pt;
}
.place-cont hr{
    margin: 30px 50px;
    
}
.bar{
    display: flex;
    border-radius: 20px;
    background-color: white;
    margin: 15px 0px;
    height: 200px;
    box-shadow: 0px 0px 30px #aaaaaaa1;
}
.bar img{
    
    height:200px;
    width: 250px;
    object-fit: cover;
    border-radius:  20px 0px 0px 20px ;
}
.info{
   display: flex;
   flex-direction: column;
    margin: 20px 40px 20px 20px;
    height: 100%;
    
}
.psdsa{
    margin-top: auto;
    margin-bottom: 10px;
    align-self: flex-end;
    height: 60px;
}
.place-button{
   
    font-size: 10pt;
    background-color: var(--primcolor);
    color: var(--text-color);
    padding: 10px 15px;
    border-radius: 20px;
  

}
.info h3{
    color: #263a58;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info p{
    color: rgb(85, 85, 85);
    font-size: 9pt;
    line-height: 20px;
    margin-right: 60px;
}

